@charset "UTF-8";

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display-Regular";
  font-display: swap;
  src: url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ofont";
  font-display: swap;
  src: url("../fonts/ofont.woff") format("woff"), url("../fonts/ofont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
          box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
      transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
      transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
      transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.noUi-connect {
  background-color: #C936D3;
  border-radius: 100px;
}

.noUi-target {
  background-color: #bfbfbf;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 11px;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 100%;
  background-color: #fff;
  border: 3px solid #C936D3;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  right: -8px;
  top: -5px;
}

body {
  font-family: SF-UI-Display-Regular;
  background-color: #1b1a1a;
}

body canvas {
  position: fixed;
  z-index: 10;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main {
  z-index: 20;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.generator {
  width: 100%;
  background-color: #8d5179;
  opacity: 0.99;
  border-radius: 5px;
  padding: min(4.5%, 20px);
}

.generator__results {
  margin-bottom: 10px;
}

.generator__settings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  background-color: #badfe7;
  border-radius: 5px;
  padding: 20px;
}

.label-generator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.label-generator__input {
  width: 26rem;
  height: 3em;
  padding: 5px 10px;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #333;
  background-color: #e9ecf7;
  border: 2px solid #dde3f7;
  border-radius: 5px;
}

.label-generator__input:focus {
  background-color: #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 0.1em #4a90e2, 0 0 0 0.2em #7ed321;
          box-shadow: 0 0 0 0.1em #4a90e2, 0 0 0 0.2em #7ed321;
}

.label-generator__btn {
  width: 3em;
  height: 3em;
  margin-left: 10px;
  background-color: #badfe7;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='20pt' height='20pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23a1a1a1' stroke='none'%3E%3Cpath d='M1622 5109 c-47 -14 -109 -79 -123 -131 -23 -89 12 -182 88 -229 l38%0A-24 1191 -5 1190 -5 76 -37 c91 -45 147 -103 191 -196 l32 -67 5 -1590 5%0A-1590 24 -38 c13 -21 42 -50 64 -65 34 -23 52 -27 107 -27 55 0 73 4 107 27%0A22 15 51 44 64 65 l24 38 0 1605 c0 1468 -1 1610 -17 1665 -43 157 -109 273%0A-213 378 -68 70 -184 148 -263 177 -156 59 -61 55 -1362 57 -740 1 -1208 -2%0A-1228 -8z'/%3E%3Cpath d='M1050 4295 c-337 -69 -587 -329 -639 -665 -9 -55 -11 -452 -9 -1520%0A3 -1575 -1 -1455 58 -1612 66 -177 261 -372 438 -438 154 -58 82 -55 1257 -55%0A1175 0 1103 -3 1257 55 178 66 372 260 438 438 59 156 55 43 55 1657 0 1351%0A-1 1485 -17 1540 -43 157 -109 273 -213 378 -68 70 -184 148 -263 177 -155 58%0A-74 55 -1232 57 -851 1 -1078 -1 -1130 -12z m2222 -422 c93 -44 151 -100 196%0A-191 l37 -76 0 -1451 0 -1451 -37 -76 c-45 -91 -103 -147 -196 -191 l-67 -32%0A-1050 0 -1050 0 -67 32 c-93 44 -151 100 -196 191 l-37 76 0 1450 0 1451 32%0A67 c17 37 50 87 72 111 44 48 135 101 197 116 23 5 468 9 1069 8 l1030 -2 67%0A-32z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 10px;
  border-radius: 5px;
}

.checks__label {
  display: block;
  padding-bottom: 1em;
  cursor: pointer;
}

.checks__label:last-child {
  padding-bottom: 0;
}

.label-checkbox {
  padding-left: 1.2em;
}

.label-checkbox__span {
  font-size: min(4.5vw, 24px);
}

.label-checkbox__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label-checkbox__checkbox {
  display: inline-block;
  position: absolute;
  margin-top: 0.15em;
  margin-left: -1.8em;
  width: 1.4em;
  height: 1.4em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='3' y='3' width='14' height='14' fill='%23fff' stroke='%234a90e2' stroke-width='2' rx='2'/%3E%3C/svg%3E");
}

/* Checked */

.label-checkbox__check:checked + .label-checkbox__checkbox {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='2' y='2' width='16' height='16' fill='%234A90E2' rx='3'/%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='3' points='5 9 9 13 15 6'/%3E%3C/svg%3E");
}

/* Focused */

.label-checkbox__check:focus + .label-checkbox__checkbox {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect width='20' height='20' fill='%237ed321' rx='4'/%3E%3Crect width='14' height='14' x='3' y='3' fill='%23fff' stroke='%234a90e2' stroke-width='2' rx='2'/%3E%3C/svg%3E");
}

.label-checkbox__check:checked:focus + .label-checkbox__checkbox {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect width='20' height='20' fill='%237ed321' rx='4'/%3E%3Crect width='16' height='16' x='2' y='2' fill='%234a90e2' rx='3'/%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='3' points='5 9 9 13 15 6'/%3E%3C/svg%3E");
}

.settings__generate {
  padding: max(2.75em, 15px) 0;
}

.slider-settings-grid {
  display: grid;
  grid-template-columns: 3fr 10fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100%;
  font-size: min(3.5vw, 16px);
}

.slider-settings-grid__text {
  grid-area: 1/1/2/2;
}

.slider-settings-grid__text span {
  height: 100%;
  width: 100%;
  font-size: 1.3em;
}

.slider-settings-grid__slider {
  grid-area: 1/2/2/3;
  margin-top: 14px;
}

.slider-settings-grid__inp {
  grid-area: 1/3/2/4;
}

.slider-settings-grid__input {
  height: 100%;
  width: 100%;
  font-size: 1em;
  padding: 0.45em;
  background-color: #f0f2fa;
  border: 2px solid #dde3f7;
  border-radius: 5px;
}

.slider-settings-grid__input:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 0.1em #4a90e2, 0 0 0 0.2em #7ed321;
          box-shadow: 0 0 0 0.1em #4a90e2, 0 0 0 0.2em #7ed321;
}

.slider-settings-grid__btn {
  grid-area: 2/1/3/4;
}

.slider-settings-grid__button {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
  background-color: #9C02A7;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.slider-settings-grid__button:hover {
  background-color: #d279d8;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.BtnWave {
  overflow: hidden;
  position: relative;
}

.pulse {
  border-radius: 50%;
  background-color: #e0e5f7;
  -webkit-animation: pulse 0.7s ease-out;
          animation: pulse 0.7s ease-out;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    background-color: #fff;
    opacity: 0;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    background-color: #fff;
    opacity: 0;
  }
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 719px) {
  .settings__generate {
    padding: 1em 0 2em 0;
  }
}

@media (max-width: 440px) {
  .label-generator__input {
    width: 19rem;
  }
}

@media (max-width: 420px) {
  .generator__settings {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}